main{background-color: #eeeeee;

}
#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#title {
    text-align: center;
}
#tribute-info {
    padding: 20px;
}
li {
    padding: 10px;
}